* {
    font-family: 'Noto Sans Thai';font-size: 20px;
}

ul { 
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #53bee2;
}
li {
  float: right;
}
lo {
  float: left;
}


li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  border-radius: 5%;
}
lo a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  border-radius: 5%;
}



li a:hover:not(.Now) {
  background-color: #aff3ff;
  color: rgb(0, 0, 0); border-radius: 5%;
}
lo a:hover:not(.Now) {
  background-color: #aff3ff;  color: rgb(0, 0, 0); border-radius: 5%;
}

.Now {
  background-color: #299cc3;
}

body {
  margin: 5;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 100px;
    width: 100px;
    outline: rgb(255, 255, 255);
    background-color: #22abc3;
    background-size: 100%, 100%;
    border-radius: 60%;
    border: 1px solid #22abc3;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #22abc3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}
#myBtn:hover {
  color: black;
  background-color: #aff3ff;
}

